

body{
    background-color:#e9ebee;              
    font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    font-size: 16px;
    margin: 0 auto;
    max-width: 800px;              
}
a:hover{

    text-decoration-color:orange;
}
tr:nth-child(odd){

    background-color: blueviolet;

}
tr:hover{

    background-color: red;

}

img:hover{
transform: scale(8);
}


table{
background-color: white;

}
.titre1{
    font-size:large;
    font-weight: bold;
    text-align: center;
}
.titre2{
    font-size:large;
    font-weight: bold;
    text-align:left              

}

@media only screen and (max-width: 900px){
    body{
        background-color:yellow;
    }

}
